<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <h1 style="background-color: darkblue; color: white; text-align: center;">Página web</h1>
    {% include "barra.html" %}
    <h3 style="text-align: center;">Información inicial de la página</h3>

    {% block content %}
    {% endblock %}

    <footer style="background-color: darkblue; color: white; text-align: right;">
        <p>Derechos reservados</p>
    </footer>
</body>
</html>