<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        {% include "barra.html" %}
    </nav>
    Hola {{nombre_persona.upper}} {{apellido_persona}} 
    <p>Temas del curso</p>
    <ul>
    {% if temas %}
        {% for i in temas %}
            <li>{{i}}</li>
        {% endfor %}
    {% else %}
        <p>No hay temas</p>
    {% endif %}
    </ul>
</body>
</html>