{% extends "base/base.html" %}

    {% load static %}

    {% block title %}
        Tienda
    {% endblock %} 

    {% block content %}
    
    <div class="container">
        <div style="float: right;">
            

            {% include "widget.html" %}
        </div>
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-3">
                <div class="card" style="width:100%; margin: 20px 0;">
                    {% if producto.imagen %}
                        <img src="{{producto.imagen.url}}" alt="" style="height: 250px;">
                    {% else %}
                        <img src="" alt="No disponible" style="color: white;">
                    {% endif %}
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title">{{producto.nombre}}</h6>
                        <p class="card-text">$ {{producto.precio}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'carrito:Agregar' producto.id %}" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    
   

    <section>
        <div style="width:75%; margin: auto; text-align: center; color: white;">
            Categorías:
            <br>
            {% for categoria in categorias %}
                <a class="linksCategorias" href="{% url 'Categoria' categoria.id %}">{{categoria.nombre}}</a>&nbsp; &nbsp;
            {% endfor %}
        </div>
    </section>
    {% endblock %}