<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if articulos %}
        <p> Articulos encontrados para la palabra {{query}}: {{articulos|length}} </p>
        <ul>
        {% for articulo in articulos %}
            <li>{{articulo.nombre}} {{articulo.seccion}} {{articulo.precio}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Consulta vacía</p>
    {% endif %}
    
</body>
</html>